# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.development
.env.development.local
.env.production
.env.production.local
.env.test.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Webstorm
.idea/
